*{
    margin: 0;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}
body{
    background-color:rgb(0, 0, 0);
}
div.title{
    padding: 20px;
    font-size: larger;
    background-color: #f1f1f1;
    text-align: center;
}
section.tally{
    display: flex;
    justify-content: center;
    position: relative;
    top: 5px;

}
div.board{
    border: #f1f1f1 solid 2px;
    color: #f1f1f1;
    border-radius: 10px;
    padding: 16px;
    display: inline;    
}

div.board h1{
    display: inline;
    padding: 5px;
}
section.game{
    display: flex;
    justify-content: space-evenly;
}
div.button{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #f1f1f1;
    position: relative;
    top: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#stone{
    background-image: url("https://img.icons8.com/color/96/000000/hand-rock-skin-type-5.png");
    height: 100px;
    width:100px;
    
}
div#paper{
    background-image: url("https://img.icons8.com/fluency/100/000000/hand.png");
    height: 100px;
    width:100px;
    
}
div#scissors{
    background-image: url("https://img.icons8.com/color/96/000000/hand-scissors-skin-type-4.png");
    height: 100px;
    width:100px;
    
}
div.result{
    color: #f1f1f1;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -120px;
    padding: 20px;
    font-size: xx-large;

}